body{
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
}

@media screen and (max-width: 480px) {
    /* 横幅が480px以下になったら適用される */
    body{
        font-size: 20px;
    }
}

.logo-and-navi{
/*
    display: flex;
*/
    position: relative;
    width: 100%;
    height: auto;
}

.header-bg {
    background-image: url("../images/main-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

.header-news-bg {
    background-image: url("../images/news-bg.jpg");
    background-position: top;  /* topにしたら同じになった */
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
  }


.logo-and-navi img{
    width: 80%;
/*
    position: absolute;
    top: 0;
    left: 0;
*/
}

.logos{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;

}


ul li {
/*
    background-color: aqua;
*/
    display: flex;

    font-size: 40%;
    list-style: none;
    float: left;
    padding: 20px ;
}

.sentence{
    font-size: 16px;
    position: absolute;
    top:30%;
    left: 28%;
    padding: 2%;
    background-color: red;
}

.f-s{
    font-size: 3.1em;
}

.s-s{
    font-size: 0.7em;
}

.btn-menu{
    position: relative;
    top: 0.75em;
    left: 9em;
    background-color: aquamarine;
    padding: 1em;
}


.pra{
    display: flex;
    padding: 5% 10% 0;
    height: auto;
    gap: 10px;
}

.pra2{
    /*
    background-color: aqua;
    */
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pra2-1{
    display: flex;
    gap: 10px 10px;
}

.pra2-1-1{
    background-color: skyblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;

}


.pra2-1-1_moji{
    position: relative;
    top: 10%;
    left: 0%;
    gap: 13px;
}

.pra2-1-1_moji1{
    position: relative;
    font-size: 0.8em;
    top: 50%;
    left: 20%
}

.pra2-1-1_moji2{
    position: relative;
    font-size: 0.5em;
    top: 40%;
    left: 10%;
    padding: 20px;
}


article{
    font-size: 0.4em;
}

.pra2-1-2{
    font-size: 0.6em;
}

.pra2-1-2-1{
    font-size: 0.6em;
}


.pra2-2 img{
    width: 100%;
}

.pra3{
    /*
    background-color: yellow;
    */
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.pra3-1-1{
    font-size: 0.5em;
    padding-bottom: 0px;
    border-bottom: 2px solid cyan;
    width: 100%;
}

.pra3-1-2{
    font-size: 0.4em;
    padding-bottom: 0;
    border-bottom: 1px solid wheat;
    width: 100%;
}


.pra3-2{
    gap: 20px;
}

.pra3-2-1{
    font-size: 0.5em;
    border-bottom: 3px solid cyan;
}

.pra3-2-2{
    font-size: 0.4em;
}

footer{
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    color: white;
    background-color: black;
}



/* menu */


.header-menu-bg {
    background-image: url("../images/menu/menu-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.65;
}

.menu-se{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 30%;
}

.menu-se-1{
    text-align: center;
}


.menu-se-2{
    font-size: 0.4em;
}

.menus{
    width: 100%;
    display: flex;
    margin: 5% 10% 0%;
    background-color: aqua;
    font-size: 0.5em;
    flex-wrap: wrap;
}

.menus1 img{
    width: 200px;
}

.menus2 img{
    width: 20%;
}

.menus3 img{
    width: 20%;
}

.menus4 img{
    width: 30%;
}

.menus5 img{
    width: 30%;
}
.menus6 img{
    width: 30%;
}
.menus7 img{
    width: 20%;
}

